<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061893431445-ets465d01du5d1m7588ml2u3254r0f2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061893431445-ets465d01du5d1m7588ml2u3254r0f2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDVSvYHFV0pYYmg04uwbw9Tz4ebEWPuTi0</string>
	<key>GCM_SENDER_ID</key>
	<string>1061893431445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>lunchdate-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>lunchdate-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061893431445:ios:2b9820646c945071453b9c</string>
</dict>
</plist>